{% load static %}

<html>
    <head>
        <title>Django blog</title>
        <link href="{% static 'style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'blog:home' %}">Django blog</a></h1>
                    {% if user.is_authenticated %}
                        <p>Hi {{ user.username }}</p>
                        <p>Click <a href="{% url 'logout' %}">here</a> to logout</p>
                    {% else %}
                        <p>You are not logged in!</p>
                        <a href="{% url 'login' %}">Log in</a>
                    {% endif %}
                </div>
                <div class="nav-right">
                    <a href="{% url 'blog:post_new' %}">+ New Blog Post</a>
                </div>
            </header>

            {% block content %}

            {% endblock content %}
        </div>
    </body>
</html>